body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f9a72b;
    color: #fff;
}

.no-data {
    text-align: center;
    margin-top: 20px;
}

.btn-return {
    display: block;
    width: 200px;
    margin: 20px auto;
    margin-top: 50px;
    padding: 10px;
    background-color: #f9a72b;
    color: #000;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-return:hover {
    background-color: #f97e1a;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}