body {
    font-family: Arial, sans-serif;
    background-color: #fbdcf7;
    padding: 0px;
    margin: 0;

}

.banner {
    height: 120px;
    text-align: center;
    background-color: rgb(113, 192, 252);
    padding: 10px;
    margin-bottom: 100px;
}

h1 {
    margin-top: 37px;
}

h2 {

    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    color: #666;
    margin-top: 40px;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 15px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-bottom: 15px;
}

li {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.Shopping-Notes {
    height: 400px;
    overflow: auto;
    background-color: lightyellow;
    padding: 50px;
    border-radius: 50px;
    width: 80%;
    margin: 0 auto
}

.Terms-of-Service {
    height: 400px;
    overflow: auto;
    background-color: lightyellow;
    padding: 50px;
    border-radius: 50px;
    width: 80%;
    margin: 150px auto
}